<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>318073547299-qdnn0g4mekcvpmv352omomom47l0okru.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.318073547299-qdnn0g4mekcvpmv352omomom47l0okru</string>
	<key>API_KEY</key>
	<string>AIzaSyB48r-pbZGloTdSGLXfaVRL0Dyeo288ybI</string>
	<key>GCM_SENDER_ID</key>
	<string>318073547299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BraydonWhitfield.LearningApp</string>
	<key>PROJECT_ID</key>
	<string>learning-app-db67e</string>
	<key>STORAGE_BUCKET</key>
	<string>learning-app-db67e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:318073547299:ios:77a24ccec5d96bf80b9f96</string>
</dict>
</plist>